body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: url('i1.jpg');
    background-size: cover;
}

.profile-card {
    display: flex;
    align-items: center;
    background:none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust width as needed */
}

.profile-image {
    margin-right: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-info {
    flex: 1;
}

.profile-info h2,
.profile-info p {
    margin: 5px 0;
}

.editable-fields {
    margin-top: 20px;
}

.editable-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.editable-fields textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
}

#save-changes {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}